{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Checkbox</title>
{#  <link rel="shortcut icon" href="{% url 'course:home-page' %}">#}
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://unpkg.com/flowbite@1.5.1/dist/flowbite.js"></script>


</head>

{% block navbar %}
  {% include 'course/navbar.html' %}
{% endblock %}
<div class="mb-10">
    {% block content %}{% endblock %}
</div>



<body class="bg-gradient-to-b from-indigo-950 to-blue-900 min-h-[100vh]"></body>
{% include "course/pagination.html" %}
</html>